:root {
    --primary: #07292e;
    --secondary: #16a0b6;
    --body-bg: #1f1f1f;
    --dark-transparent: #1f1f1fc4;
    --text-primary: #eee;
    --text-light: #ffffff91;
}
body {
    background-color: var(--body-bg);
    margin: 0;
    padding: 0;
    color: var(--text-primary);
}
* {
    box-sizing: border-box;
}
section {
    margin: 0;
    padding: 0;
}
h2 {
    text-align: center;
}
a {
    color: var(--secondary);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
a:hover {
    color: #1eb9d1;
}
p {
    color: var(--text-light);
}
.rounded-1 {
    border-radius: 4px;
}
.rounded-2 {
    border-radius: 8px;
}
.rounded-3 {
    border-radius: 12px;
}
.rounded-4 {
    border-radius: 16px;
}
ul {
    margin-left: 0;
    padding-left: 0;
} 
.list-unstyled {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.social-links{
    display: flex;
    align-items: center;
    justify-content: end;
}
.fa-brands.fa-github, 
.fa-arrow-up-right-from-square {
    color: #c3964e;
    filter: drop-shadow(1px 1px 0px 6px #916217);
    font-size: 20px;
    padding: 8px;
}
section {
    padding: 50px;
}
/*  =======================
    SECTION - ABOUT ME 
===========================*/ 
.svg-background-1 {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 100,0 100,36 0,65' fill='%2307292e'/%3E%3C/svg%3E");
}
.svg-background-2 {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,100 100,80 0,30' fill='%2307292e'/%3E%3C/svg%3E");
}
.container {
    max-width: 1280px; 
    margin: 0 auto;
    padding: 0 20px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
} 
.image-wrapper {
    flex: 2;
}
.about-box {
    flex: 3;
    padding: 20px;
    background: #1f1f1fc4;
    box-shadow: inset 0 0 2px 0px #cd8339;
    border-radius: 12px;
}
.image-wrapper .image-container {
    margin: auto;
    text-align: center;
}
.image-wrapper .image-container img {
    box-shadow: 0 0 10px 0 #242424;
    width: auto;
    height: 240px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.image-container {
    position: relative;
}
.image-wrapper .hero-title {
    display: block;
    margin: auto;
    font-size: 20px;
}
 
/* =======================
    SECTION - MY WORK
==========================*/ 
.portfolio-item {
    width: calc(33.333% - 20px);
    margin-bottom: 20px;
    margin: 0 5px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: inset 0 0 3px 0 #2091b3bf; 
}
.portfolio-wrapper {
    position: relative;
    overflow: hidden;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.portfolio-image { 
    overflow: hidden;
}
.portfolio-image img {
    transition: transform 0.3s ease-in-out;
    max-width: 100%;
} 
.portfolio-wrapper:hover .portfolio-image img {
    transform: scale(1.05);
}

.portfolio-description {

}
.desciption-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.description-title{

}
.description-source{

}
.desciption-bottom p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* Firefox support */
    display: -moz-box;
    -moz-line-clamp: 3;
    -moz-box-orient: vertical;
}
.contact-left{

}
.contact-info-container{

}
.contact-text{

}
.contact-links{

}
.fa-linkedin{

}
.fa-facebook{

}
.fa-instagram{

}
.contact-right{

}